<div class="row" >
    <!-- Count item widget-->
    <div class="col-6 col-md-3" style="padding-bottom: 60px;">
        <div class="wrapper count-title d-flex" style="background-color: goldenrod;border-radius:5px;">
            <div class="icon" style="padding-right: 15%;color: gray;line-height: 75px;">
                <i class="icon-user" style="color: gray;font-size: 50px;line-height: 75px;text-align: center;"></i>
            </div>
            
            <div class="name" style="color: gray;">
                <h5 >SẢN PHẨM</h5>
                <div class="count-number">{{countProduct}}</div>
            </div>
        </div>
    </div>
    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex" style="background-color: lightpink;border-radius:5px;">
            <div class="icon" style="padding-right: 5%;color: gray;line-height: 75px;">
                <i class="icon-padnote" style="color: gray;font-size: 50px;line-height: 75px;text-align: center;"></i>
            </div>
            <div class="name" style="color: gray;">
                <h5 >TÁC GIẢ</h5>
                <div class="count-number">{{countBrand}}</div>
            </div>
        </div>
    </div>
     &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex" style="background-color: blue;border-radius:5px;">
            <div class="icon" style="padding-right: 10%;color: gray;line-height: 75px;">
                <i class="icon-check" style="color: gray;font-size: 50px;line-height: 75px;text-align: center;"></i>
            </div>
            <div class="name" style="color: gray;">
                <h5 >LOẠI SẢN PHẨM</h5>
                <div class="count-number">{{countCategory}}</div>
            </div>
        </div>
    </div>
  
    <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex" style="background-color: lightblue;border-radius:5px;">
            <div class="icon" style="padding-right: 15%;color: gray;line-height: 75px;">
                <i class="icon-bill" style="color: gray;font-size: 50px;line-height: 75px;text-align: center;"></i>
            </div>
            <div class="name" style="color: gray;">
                <h5>ĐƠN HÀNG</h5>
                <div class="count-number">{{countHoadon}}</div>
            </div>
        </div>
    </div>
      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
     <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex" style="background-color:khaki;border-radius:5px;">
            <div class="icon" style="padding-right: 15%;color: gray;line-height: 75px;">
                <i class="fa fa-user" style="color: gray;font-size: 60px;padding-top: 5%;padding-left: 5%;"></i>
            </div>
            <div class="name" style="color: gray;">
                <h5>TÀI KHOẢN</h5>
                <div class="count-number">{{countAdmin}}</div>
            </div>
        </div>
    </div>
          &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
     <!-- Count item widget-->
    <div class="col-6 col-md-3">
        <div class="wrapper count-title d-flex" style="background-color: lightgreen;border-radius:5px;">
            <div class="icon" style="padding-right: 15%;color: gray;line-height: 75px;">
                <i class="fa fa-info" style="color: gray;font-size: 60px;padding-top: 15%;padding-left: 15%;"></i>
            </div>
            <div class="name" style="color: gray;">
                <h5>CHI TIẾT SP</h5>
                <div class="count-number">{{countChitietsanpham}}</div>
            </div>
        </div>
    </div>
</div>