{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/itemSlider/css/main-style.css"> 
{{/section}} 

{{#section 'js'}}
	<script src="/itemSlider/js/modernizr.custom.63321.js"></script>
	<script src="/itemSlider/js/jquery.catslider.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#mi-slider').catslider();
		});
	</script> 
{{/section}}

<div class="row">
	<div class="col">
		<div class="main box-border" >
			<div id="mi-slider" class="mi-slider" style="color: gray;">
				<ul style="color: gray;">
					<li>
						<a href="#">
							<img src="/img/anh31.jpg" alt="img01">
							<p style="color: gray;padding-top: 10px;">Người Bà Tài Giỏi Vùng Saga - Tập 7</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh32.jpg" alt="img02">
							<p style="color: gray;padding-top: 10px;">Người Bà Tài Giỏi Vùng Saga - Tập 1</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh34.jpg" alt="img03">
							<p style="color: gray;padding-top: 10px;">Đội Quân Nhí Nhố - Tập 38</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh35.jpg" alt="img04">
							<p style="color: gray;padding-top: 10px;">Đội Quân Nhí Nhố - Tập 28</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh33.jpg" alt="img04">
							<p style="color: gray;padding-top: 10px;">Người Bà Tài Giỏi Vùng Saga - Tập 2</p>
						</a>
					</li>
				</ul>
				<ul style="color: gray;">
					<li>
						<a href="#">
							<img src="/img/anh23.jpg" alt="img01">
							<p style="color: gray;padding-top: 10px;">HBR On - AI Và Kỷ Nguyên Máy Móc Mới</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh22.jpg" alt="img02">
							<p style="color: gray;padding-top: 10px;">Tiền Đẻ Ra Tiền - Đầu Tư Tài Chính Thông Minh</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh21.jpg" alt="img03">
							<p style="color: gray;padding-top: 10px;">Đầu Tư Chứng Khoán: Chơi Trò May Rủi Hay Tích Lũy Tài Chính</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/a.jpg" alt="img04">
							<p style="color: gray;padding-top: 10px;">Người Bán Hàng Vĩ Đại Nhất Thế Giới</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/b.jpg" alt="img04">
							<p style="color: gray;padding-top: 10px;">Học Viện Thành Công</p>
						</a>
					</li>
				</ul>
				<ul style="color: gray;">
					<li>
						<a href="#">
							<img src="/img/anh15.jpg" alt="img01">
							<p style="color: gray;padding-top: 10px;">Ngôi Nhà Của Người Cá Say Nhủ</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh14.jpg" alt="img02">
							<p style="color: gray;padding-top: 10px;">Điều Kỳ Diệu Của Tiệm Tạp Hóa Namiya</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/cay_cam.jpg" alt="img03">
							<p style="color: gray;padding-top: 10px;">Cây Cam Ngọt Của Tôi</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh11.jpg" alt="img04">
							<p style="color: gray;padding-top: 10px;">Yêu Những Ngày Nắng Chẳng Ghét Những Ngày Mưa</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/anh12.jpg" alt="img04">
							<p style="color: gray;padding-top: 10px;">Những Đêm Không Ngủ Những Ngày Chậm Trôi</p>
						</a>
					</li>
				</ul>
				<nav>
					{{#each layoutVM.categories}}
					<a href="#">{{CatName}}</a>
					{{/each}}
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="#" class="text-primary">Sản phẩm mới nhất</a>
				</li>
			</ol>
		</div>
		<div class="row">
			{{#each newestProducts}}
			<form class="col-md-3 col-sm-4 pb-3" action="/checkout/add" method="POST">
				<div class="card text-left product-box">
					<a href="/product/detail/{{ProID}}">
						<img class="img-fluid" src="/img/{{images}}">
					</a>
					<div class="card-body">
						<h5 class="card-title">
							<a href="/product/detail/{{ProID}}">{{ProName}}</a>
						</h5>
						<p class="card-text mb-0">
							<span class="font-weight-bold">{{number_format Price}}
								<u>đ</u>
							</span>
						</p>
						<p class="mb-0">
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star rating"></span>
						</p>
						<input name="proID" type="hidden" value="{{ProID}}">
						<input id="qty" type="tel" name="quantity" value="1" min="1" max="1" class="form-control input-quantity" style="display: none;">
						<button class="btn btn-outline-success btn-sm mr-1" type="submit" role="button">Mua Ngay</button>
						<a href="/product/detail/{{ProID}}" class="btn btn-outline-primary btn-sm ml-1 hidden" role="button">Xem Chi Tiết</a>
					</div>
				</div>
			</form>
			{{/each}}
		</div>
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="#" class="text-success">Xem nhiều nhất</a>
				</li>
			</ol>
		</div>
		<div class="row">
			{{#each viewerProducts}}
			<form class="col-md-3 col-sm-4 pb-3" action="/checkout/add" method="POST">
				<div class="card text-left product-box">
					<a href="/product/detail/{{ProID}}">
						<img class="img-fluid" src="/img/{{images}}">
					</a>
					<div class="card-body">
						<h5 class="card-title">
							<a href="/product/detail/{{ProID}}">{{ProName}}</a>
						</h5>
						<p class="card-text mb-0">
							<span class="font-weight-bold">{{number_format Price}}
								<u>đ</u>
							</span>
						</p>
						<p class="mb-0">
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star rating"></span>
						</p>
						<input name="proID" type="hidden" value="{{ProID}}">
						<input id="qty" type="tel" name="quantity" value="1" min="1" max="1" class="form-control input-quantity" style="display: none;">
						<button class="btn btn-outline-success btn-sm mr-1" type="submit" role="button">Mua Ngay</button>
						<a href="/product/detail/{{ProID}}" class="btn btn-outline-primary btn-sm ml-1 hidden" role="button">Xem Chi Tiết</a>
					</div>
				</div>
			</form>
			{{/each}}
		</div>
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="#" class="text-info">Bán chạy nhất</a>
				</li>
			</ol>
		</div>
		<div class="row">
			{{#each soldProducts}}
			<form class="col-md-3 col-sm-4 pb-3" action="/checkout/add" method="POST">
				<div class="card text-left product-box">
					<a href="/product/detail/{{ProID}}">
						<img class="img-fluid" src="/img/{{images}}">
					</a>
					<div class="card-body">
						<h5 class="card-title">
							<a href="/product/detail/{{ProID}}">{{ProName}}</a>
						</h5>
						<p class="card-text mb-0">
							<span class="font-weight-bold">{{number_format Price}}
								<u>đ</u>
							</span>
						</p>
						<p class="mb-0">
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star checked rating"></span>
							<span class="fa fa-star rating"></span>
						</p>
						<input name="proID" type="hidden" value="{{ProID}}">
						<input id="qty" type="tel" name="quantity" value="1" min="1" max="1" class="form-control input-quantity" style="display: none;">
						<button class="btn btn-outline-success btn-sm mr-1" type="submit" role="button">Mua Ngay</button>
						<a href="/product/detail/{{ProID}}" class="btn btn-outline-primary btn-sm ml-1 hidden" role="button">Xem Chi Tiết</a>
					</div>
				</div>
			</form>
			{{/each}}
		</div>
	</div>
</div>